<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="applicant">
      <h2 data-cy="applicantDetailsHeading"><span>Applicant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ applicant.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ applicant.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ applicant.lastName }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ applicant.email }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ applicant.phone }}</span>
        </dd>
        <dt><span>Summary</span></dt>
        <dd>
          <span>{{ applicant.summary }}</span>
        </dd>
        <dt><span>C TC</span></dt>
        <dd>
          <span>{{ applicant.cTC }}</span>
        </dd>
        <dt><span>E CTC</span></dt>
        <dd>
          <span>{{ applicant.eCTC }}</span>
        </dd>
        <dt><span>Highest Education</span></dt>
        <dd>
          <span>{{ applicant.highestEducation }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/applicant', applicant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
