<div>
  <h2 id="page-heading" data-cy="ApplicantHeading">
    <span>Applicants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-applicant"
        [routerLink]="['/applicant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Applicant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="applicants?.length === 0">
    <span>No applicants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="applicants && applicants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>First Name</span></th>
          <th scope="col"><span>Last Name</span></th>
          <th scope="col"><span>Email</span></th>
          <th scope="col"><span>Phone</span></th>
          <th scope="col"><span>Summary</span></th>
          <th scope="col"><span>C TC</span></th>
          <th scope="col"><span>E CTC</span></th>
          <th scope="col"><span>Highest Education</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of applicants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/applicant', applicant.id, 'view']">{{ applicant.id }}</a>
          </td>
          <td>{{ applicant.firstName }}</td>
          <td>{{ applicant.lastName }}</td>
          <td>{{ applicant.email }}</td>
          <td>{{ applicant.phone }}</td>
          <td>{{ applicant.summary }}</td>
          <td>{{ applicant.cTC }}</td>
          <td>{{ applicant.eCTC }}</td>
          <td>{{ applicant.highestEducation }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/applicant', applicant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/applicant', applicant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(applicant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
